/* Container Styling */
.selection-container {
  text-align: center;
   background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
     url("../assets/bg.jpg") center/cover no-repeat fixed;
  background-size: cover;
  background-position: center;
  
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Wrapper for alignment */
.selection-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 900px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Box Styling */
.selection-box {
  width: 100%;
  max-width: 400px; /* Ensure max width */
  height: 300px; /* Fixed height for square shape */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

/* Viewer Section */
.viewer {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  color: rgb(245, 244, 244);
}

/* Theater Section */
.theater {
  background: rgba(0, 0, 0, 0.7);
  color:#FF3131;
}

/* Side by side layout for larger screens */
@media (min-width: 768px) {
  .selection-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  
  .selection-box {
    flex: 1; /* Equal width */
  }
}

/* Button Styling */
.btn-lg {
  width: 80%;
}
